@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-dash {
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 200px;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  height: 803px;
  top: 0;
  left: 0;
  z-index: 999;
  width: 250px;
  background-color: #131313;
  color: #fff;
  border-right: 4px rgb(255, 0, 0) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-left h1 {
  color: #ffffff;
}

.header-left-nav {
  flex: 1;
  padding: 20px 0;
}

.header-left-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-left-nav ul li {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px #fff solid;
  width: 100px;
  text-align: center;
}

.header-left-nav ul li:hover {
  background-color: #656565;
}

.header-left-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1em;
  width: 100px;
}

.logo {
  width: 250px;
  text-align: center;
}

.logo img {
  width: 150px;
}

.hello {
  margin-top: 20px;
  margin-bottom: 80px;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin-top: 80px;
  margin-left: 14px;
  width: 80px;
  background-color: #ff0000;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #d28181;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.main-header h1 {
  margin: 0;
  margin-right: 50px;
  font-size: 1.5em;
}

.content {
  display: flex;
  width: 100%;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.content-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.content-quiz h2 {
  color: #343a40;
}

.card {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin-top: 30px;
}

.card h3 {
  color: #000000;
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #343a40;
}

#total_usuario {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #343a40;
}

.grafico-quiz {
  background-color: #fff;
  position: relative;
  width: 600px;
  display: flex;
  margin-left: 370px;
  margin-top: 50px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #d4d4d4;
}

.container {
  width: 600px;
  height: 380px;
  margin-left: 360px;
  margin-top: 50px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
}

#quiz-container {
  height: 350px;
}


.logo-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-quiz img {
  width: 300px;
}

.logo-quiz2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-quiz2 img {
  width: 300px;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
  width: 600px;
  text-align: center;
  align-items: center;
}

.answer {
  display: block;
  padding: 10px;
  margin: 5px 0;
  background: #ffffff;
  border: 1px #bcbcbc solid;
  border-radius: 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.answer:hover {
  background: #c3c3c3;
}

.correct {
  background: #75b2f4 !important;
  color: white;
}

.wrong {
  background: #ff4736 !important;
  color: white;
}

#score-container {
  display: none;
  align-items: center;
  text-align: center;
  margin-left: 163px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#restart {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  margin-top: 20px;
  background: #000000;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

#restart:hover {
  background: #656565
}

.texto-direc-quiz2 {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto-direc-quiz2 p {
  font-size: 20px;
}

.btn-direc-quiz2 {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px;
  border-color: black;

}

#btn-quiz2 {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background: #000000;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-quiz2:hover {
  background-color: #656565;
}

.container-dash a {
  text-decoration: none;
}

.titulo-informações {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.corpo-link {
  width: 100%;
  height: 500px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.card-link {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  transition: all .5s;
}

.card-link:hover {
  background-color: rgb(0, 0, 0);
}

.card-link .img-link {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('./../img/logo_digital.png');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
}

.card-link .img-link span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card-link:hover .img-link {
  width: 430px;
}

.card-link:hover .img-link span {
  font-size: 28px;
}

.card-link .content-link {
  padding: 0px 20px;
  height: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card-link .content-link span {
  color: white;
}

.card-link:hover .content-link {
  height: 260px;
  padding: 20px;
  transform: translateY(0);
}

.card-link .content-link p {
  margin: 0;
  color: white;
}

.card-link .content-link .title-link {
  font-size: 20px;
  font-weight: 600;
}

.card-link .content-link .desc {
  font-size: 14px;
  font-weight: 100;
  margin-top: 8px;
}

.card-link .arrow-link {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card-link:hover .arrow-link {
  transform: rotate(0);
}

.card-link .arrow-link span {
  font-size: 24px;
}

