@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #c5c5c5;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-image: linear-gradient(45deg , rgb(0, 0, 0), rgb(37, 37, 37), rgb(55, 55, 55), rgb(75, 75, 75), rgb(100, 100, 100));
  background-size: 400% 400%;
}

.header-left h1 {
  color: #000000;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #30262a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #9d9d9d;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #797979;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}


.container {
    max-width: 600px;
    margin-left: 500px;
    padding: 20px;
    border: black solid 1px;
    border-radius: 20px;
    margin-top: 250px;
    background-color: #ffffff;
    background-size: 400% 400%;
    color: #000000;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
}

.answer {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: #e0e0e0;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.answer:hover {
    background: #ccc;
}

.correct {
    background: #75b2f4 !important;
    color: white;
}

.wrong {
    background: #ff4736 !important;
    color: white;
}

#score-container {
    display: none;
    text-align: center;
}

#restart {
    padding: 10px 20px;
    margin-top: 20px;
    background: #00c9c8;
    color: white;
    border: none;
    cursor: pointer;
}

#restart:hover {
    background: #008b8b
}

